
@{
    ViewData["Title"] = "AboutUs";
}

<h1>AboutUs</h1>

<div class="container">
    <h4 class="text-center display-4 mt-5">About Us</h4>
    <div class="row ">

        <div class="col-md-12 text-center">

            <img src="~/images/undraw_team_ih79.png" width="650" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 text-center">

            <h3 class="display-4">Vision</h3>
            <h4 class="font-weight-light">

                To provide outsourcing solutions that propel the businesses that partner with us to new levels of success.
            </h4>
            <h3 class="display-4">Mission</h3>
            <h4 class="font-weight-light">
                To engage a team of experts and empower them to deliver exceptional human resource services, guidance, training and leadership to our clients.
            </h4>
            <h3 class="display-4">Goals</h3>
            <ul class="font-weight-light">
                <li>Interact positively and thoughtfully with the communities in which we do business.</li>
                <li>Provide a challenging and supportive work environment that nurtures learning & personal growth.</li>
                <li>Build opportunities for our internal employees by fostering responsible business growth.</li>
                <li>Protect our resources by wisely investing our time and money in the people, products, services and tools that will benefit our clients.</li>
                <li>Service employees by providing honest, responsible, valuable information that will assist them in achieving their goals and making well-informed decisions.</li>
            </ul>

        </div>
        <div class="col-md-6 text-center">
            <h3 class="h3-responsive display-4">Contact</h3>
            <!--Section: Contact v.2-->
            <section class="mb-4">

                <!--Section heading-->
                @*<h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>*@
                <!--Section description-->
                <p class="text-center w-responsive mx-auto mb-5 font-weight-light">
                    Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
                    a matter of hours to help you.
                </p>

                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12 mb-md-0 mb-5">
                        <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                            <!--Grid row-->
                            <div class="row">

                                <!--Grid column-->
                                <div class="col-md-6">
                                    <div class="md-form mb-0">
                                        <input type="text" id="name" name="name" class="form-control">
                                        <label for="name" class="">Your name</label>
                                    </div>
                                </div>
                                <!--Grid column-->
                                <!--Grid column-->
                                <div class="col-md-6">
                                    <div class="md-form mb-0">
                                        <input type="text" id="email" name="email" class="form-control">
                                        <label for="email" class="">Your email</label>
                                    </div>
                                </div>
                                <!--Grid column-->

                            </div>
                            <!--Grid row-->
                            <!--Grid row-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form mb-0">
                                        <input type="text" id="subject" name="subject" class="form-control">
                                        <label for="subject" class="">Subject</label>
                                    </div>
                                </div>
                            </div>
                            <!--Grid row-->
                            <!--Grid row-->
                            <div class="row">

                                <!--Grid column-->
                                <div class="col-md-12">

                                    <div class="md-form">
                                        <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                                        <label for="message">Your message</label>
                                    </div>

                                </div>
                            </div>
                            <!--Grid row-->

                        </form>

                        <div class="text-center text-center">
                            <a class="btn btn-primary btn-md">Send</a>
                        </div>
                        <div class="status"></div>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <!--Grid column-->

                </div>

            </section>
            <!--Section: Contact v.2-->
            <address class="font-weight-light" id="addressAbout">
                Visit us at:<br />
                Carrier Search Inc.<br />
                3300 S. Demaree, Suite B.<br />
                Visalia CA 93277  USA<br />
                559-625-4800<br />
                carriersearch@point.com<br />
            </address>
        </div>
       
    </div>
</div>

