@model CarrierSearchInc.Models.PostJobs
@{
    ViewData["Title"] = "PostJobs";
}

<h1>PostJobs</h1>


<div class="container mb-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="~/images/undraw_preferences_uuo2.png" width="650" />
        </div>
        <div class="col-md-12">
            <h3 class="display-4 text-center">Post Jobs</h3>
        </div>

    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <form asp-controller="Home" asp-action="PostsJobs" method="post" class="mt-3">

                <label asp-for="CompanyName" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="CompanyName" class="form-control" placeholder=" Enter Company Name" />
                </div>

                <label asp-for="Role" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Role" class="form-control" placeholder="Role" />
                </div>


                <label asp-for="Industry" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <select asp-for="Industry" class="custom-select mr-sm-2" asp-items="Html.GetEnumSelectList<Industry>()"></select>
                </div>

                <label asp-for="Qualification" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <select asp-for="Qualification" class="custom-select mr-sm-2" asp-items="Html.GetEnumSelectList<Qualification>()"></select>
                </div>

                <label asp-for="PostDate" class="col-sm-2"></label>
                <div class="col-sm-10">
                    <input type="date" asp-for="PostDate" class="form-control" placeholder="Post Date" />
                </div>
                <label asp-for="CloseDate" class="col-sm-2"></label>
                <div class="col-sm-10">
                    <input type="date" asp-for="CloseDate" class="form-control" placeholder="Close Date" />
                </div>
                <label asp-for="Experience" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <select asp-for="Experience" class="custom-select mr-sm-2" asp-items="Html.GetEnumSelectList<Experience>()"></select>
                </div>


                <label asp-for="FunctionalArea" class="col-sm-2 col-form-label"></label>
                <div class="col-md-10">
                    <select asp-for="FunctionalArea" class="custom-select mr-sm-2" asp-items="Html.GetEnumSelectList<FunctionalArea>()"></select>
                </div>
            </form>
        </div>
        <div class="col-md-2">
        </div>
    </div>

</div>


