/*address {
    display: block;
    font-style: italic;
    font-size: 3rem;
    color:red;
}
#addressAbout {
    font-size: 3rem;
    color: red !important;
}

.redshow {
    color: red;
}*/
body{
    background-color:red;
}